@page
@using ContosoCrafts.WebSite.Services;
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@inject JsonFileProductService ProductService
@using ContosoCrafts.WebSite.Models
@using Microsoft.AspNetCore.Components.Web
@{
    ViewData["Title"] = "Index page";
}

<div class="container">

    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Store Name</th>
                <th>View Details</th>
                <th>Update Details</th>
                <th>Delete Store Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductService.GetProducts())
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                    <td><a asp-page="Update" asp-route-id="@product.Id">Update</a></td>
                    <td><a asp-page="Delete" asp-route-id="@product.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>