@page
@{
    <!--Calls this About Us Page-->
    ViewData["Title"] = "About Us";
}

<!--Displays the About Us page.-->
<h1>@ViewData["Title"]</h1>

<!--Provides the purpose of the page using About Us-->
<p> The purpose of this website is to provide a service that provides
    the best boba spots here in Seattle.
    In this site we also, recommend the best drinks that comes within
    each store based on ratings provided by daily customers. </p>

