@page
@{
    <!--Calls this About Us Page-->
    ViewData["Title"] = "About Us";
}

<!--Displays the About Us page.-->
<h1>@ViewData["Title"]</h1>

<!--Provides the purpose of the page using About Us-->
<p>
    The purpose of this website is to provide a service that provides
    the best boba spots here in Seattle,Washington.
    In this site we also, recommend the<br /> best drinks that comes within
    each store based on ratings provided by daily customers.
    Each store that is located in our site, is avaiable for update from
    your future rating as this would help future and current boba lovers
    here in Seattle.
</p>

<!--Provides the image of the location using About Us-->
<img src="https://www.nationsonline.org/gallery/USA/Seattle-Space-Needle.jpg"
     style="width:1100px;height:500px;" />
