@page
@{
    <!--Calls the FAQ page that lades to this page-->
    ViewData["Title"] = "FAQ";
}
    <!--Displays the FAQ title.-->
<h1>@ViewData["Title"]</h1>

<!--Provide questions by questions that are typically answered -->
<h2> What is boba? </h2>

<!--Provies information where boba comes from.-->
<p> Boba was originally made in Taiwan during the year of 1980’s. It is a combination of a
    flavored drink mixed in a cup altogether. In this generation, it is a perfect drink to get to catch
    up with a friend, family or an acquaintance. </p>

<!--Provides Purpose of the page.-->
<h2> What is the purpose of the page? </h2>

<p> It is important to find the best boba spots in Seattle and this page
    is able to recommend you based on your preference and location. Additionally, we are more than
    just a recommender, with this page, you can easily find which boba place to go based on your area
    and taste preference. </p>

<!--Provides area of focus for boba stores.-->
<h2> Which area do you focus in? </h2>

<p> The main area of focus is within the Seattle region which are Queen Anne, Capitol Hill,
    Wallingford and Downtown Region. </p>

<!--Provides an additonal question asked by customer-->
<h2> Is boba better than coffee? </h2>

<p> There are various drinks that have caffeine with boba, but this usually comes with preference.
    We recommend that you answer for yourself using our recommended boba spots.</p>

<!--Provides further insight of boba stores to be covered.-->
<h2> Will there be an expansion to boba stores covered by the site?</h2>
<p> We are currently adding in as much and as accurate boba stores in the Seattle region.</p>

<!--Provides insight in price range for boba stores.-->
<h2> Do various boba store differ in price range for boba? </h2>
<p> Dependent upon the area, there are various prices offered.</p>
<p> Please refer to our product listing page in the home page. </p>

<!--Asks the customer for further feedback.-->
<h2> How can I contact for additional feedback? </h2>

<p> Feel free to reach out to contact list provided in the home page. </p>
