@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--The purpose of this styling method is to add
    adequate padding to the paragraph margins.-->
<style>
h5{
  margin: 50px 50px 50px 50px;
  padding: 10px 80px 50px;
  
}
</style>
    

<h5>
    Welcome to SeaTea! The Seattle area Boba rating and reference site! Choose a store based on recommendations or find the
    most agreed upon best version of your favorite drinks! If you feel like
    trying something new, browse other Seattlite’s favorites!
</h5>

<hr />



@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>