@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h5>
    Welcome to SeaTea! The Seattle area Boba rating and reference site! Choose a store based on recommendations or find the
    most agreed upon best version of your favorite drinks! If you feel like
    trying something new, browse other Seattlite’s favorites!
</h5>

<link href="../Pages/mystyle.css" rel="stylesheet" type="text/css" />


<div class="progress-container">
    <img src="https://user-images.githubusercontent.com/41384564/232983263-2c955f02-54ea-4661-a600-0e27181a35a2.png" alt="Photo" class="rounded mx-auto d-block img-thumbnail w-25 h-25"><br />


    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" id="myProgressBar">0%</div>
        <br />
    </div>
</div>

<div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
</div>
<div class="text-center">
    <button class="w3-button w3-light-grey btn btn-primary btn-lg active btn-success btn-lg" onclick="move()"><i class=""></i>Search</button><br />
</div>

<h4> About Us </h4>
<p>
    The purpose of this website is to provide a service that
    provides the best boba spots here in Seattle.<br>
    In this site we also, recommend the best drinks that comes within <br>
    each store based on ratings provided by daily customers.
</p>




@(await Html.RenderComponentAsync<ListingPage>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>