@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h5>
    Welcome to SeaTea! The Seattle area Boba rating and reference site! Choose a store based on recommendations or find the
    most agreed upon best version of your favorite drinks! If you feel like
    trying something new, browse other Seattlite’s favorites!
</h5>

<hr />



@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>