@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h5>CPSC 5110</h5>
<p>Tim Pornyuenyong, Yash Atre, Kaiser VanGuardia, Nole Powell</p>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>