@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h5>
    Welcome to SeaTea! The Seattle area Boba rating and reference site! Choose a store based on recommendations or find the
    most agreed upon best version of your favorite drinks! If you feel like
    trying something new, browse other Seattlite’s favorites!
</h5>

<div class="w3-light-grey">
    <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%"></div>
</div>



@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>