@page
@using ContosoCrafts.WebSite.Services;
@model ContosoCrafts.WebSite.Pages.listing3Model
@inject JsonFileProductService ProductService
@using ContosoCrafts.WebSite.Models
@using Microsoft.AspNetCore.Components.Web
@{
    ViewData["Title"] = "Index page";
}

<div class="container">

    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!--Here we are getting the product object from the object array and inserting them into the table-->
            @foreach (var product in ProductService.GetProducts())
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>