@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!---Adds description to privacy policy-->


<h5>Our role in your privacy</h5>

<p>If you are a customer of the store in use of the ratings. The policies listed
    below also applies to you. If you are a store owner of the boba store or a
    store affliate the policy applies to you. </p>

<h5>Our responsibility</h5>

<p>It is the site responsiblity to properly manage data from feedback from ratings of customers
    along with feedback of the boba stores created and constantly updated. In terms of
    personal data from originated boba stores, the data being processed internally are
    to remain private. If questions about data are urgent, please contact.</p>

<h5>Your responsibility</h5>

<p>It is both the responsibility of the boba store and customers to give respectable feedback
    that does not lead to any further issues within the site. </p>